<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Authentification</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
    <ion-item>
      <ion-input type="text" name="username" ngModel placeholder="User Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" name="password" ngModel placeholder="User password"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Login</ion-button>
  </form>
</ion-content>